#dungeon-nav {
    margin-bottom: 10px;
}

.cell {
    height: 70px;
    position: relative;
    user-select: none;
    background: linear-gradient(45deg, #99cce6, transparent);
}

.cell span[role=title] {
    font-size: large;
    position: absolute;
    left: 10px;
    top: 5px;
}

.cell span[role=qty] {
    position: absolute;
    font-weight: bold;
    font-size: large;
    right: 10px;
    top: 5px;
}

.cell span[role=prod] {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.cell:hover {
    cursor:pointer;
    filter: brightness(80%);
}
